
html{
    font-style: normal;
    scroll-behavior: smooth;
}

body{
    background-color: midnightblue;
    margin: 0;
    padding: 0;
}

a {
    color: floralwhite;
    font-size: larger;
    font-weight: bold;
}

nav a:first-of-type {
    margin-left: auto;
}

h1 {
    color: floralwhite;
    padding-left: 150px;
}

h2 {
    color: floralwhite;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.navBar {
    background-color: navy;
    padding: 40px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

#sideBar {
    background-image: url("beautifulorchids.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    width: 10vw;
}

#about {
    text-align: center;
    color: darkslateblue;

    display: flex;
    flex-direction: column;
}

.aboutLayout {
    display: flex;
}

.aboutContainer {
    background-color: darkblue;

    height: 40vh;
    width: 50vw;

    margin-top: 0;
    margin-left: 140px;

    display: flex;
    justify-content: flex-start; /* left right */
    align-items: flex-start; /* top bottom */
}

.aboutCard {
    color: floralwhite;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 40px;
}

#photoDetail {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.photoContainer {
    background-image: url("myPhoto.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;

    height: 35vh;
    width: 30vw;

    padding: 22px;

    margin-left: auto;
    margin-right: 25px;
    margin-top: 70px;

    display: flex;
    align-items: flex-end;
}

.resumeBox {
    background-color: darkblue;
    color: floralwhite;
    font-weight: bold;

    height: 10vh;
    width: 10vw;

    padding: 3px;

    align-content: center;
    justify-content: center;
    margin-left: auto;
}