
html{
    font-style: normal;
    scroll-behavior: smooth;
}

body{
    background-color: midnightblue;
    margin: 0;
    padding: 0;
}

a {
    color: floralwhite;
    font-size: larger;
    font-weight: bold;
}

nav a:first-of-type {
    margin-left: auto;
}

h1 {
    color: floralwhite;
    padding-left: 150px;
}

h2 {
    color: floralwhite;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.navBar {
    background-color: navy;
    padding: 40px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

#contact {
    text-align: center;
    color: darkslateblue;

    display: flex;
    flex-direction: column;
}

.sideBar {
    background-image: url("beautifulorchids.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    width: 10vw;
}

.contactContainer {
    background-color: darkblue;

    align-content: flex-end;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 150px;

    height: 55vh;
    width: 50vw;
}

.contactWords {
    color: floralwhite;

    padding: 20px;
    align-content: center;
    justify-content: flex-start;
}

.socialContainer {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

#instaBox {
    background-image: url("Instagram_icon.png");
    background-size: cover;

    height: 50px;
    width: 50px;

    margin-right: 20px;

    position: relative;
    z-index: 100;
}

#linkedinBox {
    background-image: url("betterLinked.png");
    background-size: cover;
    border-radius: 5px;

    height: 50px;
    width: 50px;

    margin-right: 20px;

    position: relative;
    z-index: 100;
}

#githubBox {
    background-image: url("github.png");
    background-size: cover;
    border-radius: 8px;

    height: 50px;
    width: 50px;

    margin-right: 20px;

    position: relative;
    z-index: 100;
}

.nameContainer {
    background-color: black;
    margin-left: auto;

    height: 60vh;
    width: 20vw;
}