
html{
    font-style: normal;
    scroll-behavior: smooth;
}

body{
    background-color: midnightblue;
    margin: 0;
    padding: 0;
}

a {
    color: floralwhite;
    font-size: larger;
    font-weight: bold;
}

nav a:first-of-type {
    margin-left: auto;
}

h1 {
    color: floralwhite;
    padding-left: 150px;
}

h2 {
    color: floralwhite;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.navBar {
    background-color: navy;

    padding: 40px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

#sideBar{
    background-image: url("beautifulorchids.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;
    width: 10vw;
}

.projects {
    display: flex;
    color: floralwhite;
}

.projectRow{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 120px;
}

.projectCard{
    background-color: darkblue;
    color: floralwhite;

    height: 30vh;
    width: 30vw;

    padding: 10px;
    text-align: center;
    margin-right: 20px;
}